.user {
  display: flex;
}

.avatar {
  display: block;
  width: 100px;
  max-width: 100%;
  height: auto;
}

.button {
  display: block;
}

.page {
  cursor: pointer;
}

.paginator {
  margin: 10px;
}
.pageNumber {
  padding: 2px;
  border: 1px solid grey;
}

.pageNumber.selectedPage {
  font-weight: bold;
  border-color: black;
}
