.item {
  display: block;
  margin: 10px;
  text-align: center;
  background-color: darkslategray;
}

.item a {
  text-decoration: none;
  font-size: 15px;
  color: cornflowerblue;
}

.avatar {
  display: block;
  width: 50px;
  max-width: 100%;
  height: auto;
}
